* {
    margin: 0;
    padding: 0;
}

header {
    background: #193861;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}

p, li {
font-family: sans-serif;
}

.logo {
    float: left;
}

.logo img {
    width: 100px;
}

.blue-font {
    color: #256edb;
    font: size 24px;
}